.cards-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.visit-card{
    text-align: center;
    background-color: Lightblue;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 30%;
    &__lastVisitDate{
        display:none
    }
    &__purpose{
        display: none;
    }
    &__description{
        display: none;
    }
    &__urgency{
        display: none;
    }
    &__pressure{
        display: none;
    }
    &__massIndex{
        display: none;
    }
    &__heartIllness{
        display: none;
    }
    &__age{
        display: none;
    }
    &__status{
        display: none;
    }
    &__close{
        margin-left: 80%;
        background-color: brown
    }
    &__showMore{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        background-color: lightcoral

    }
    &__change{
        background-color: lightgoldenrodyellow;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}
