

.filter{
    background: rgb(141, 140, 140);

    &__form{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__input{
        padding: 10px 30px;
        border-radius: 8px;
        font-size: 20 px;
        width: 33%;
        margin-right: 5px;
        border: 2px solid transparent;
        outline: none;      
        color: rgb(35, 145, 241);
        &:focus{
            border: 2px solid #21b7fc;

        }
    }
    &__button{
        padding: 10px 30px;
        border-radius: 8px;
        font-size: 20px;
        background-color: rgb(230, 225, 225);
        color: rgb(35, 145, 241);
        border: 2px solid rgb(145, 141, 141);
    }
}

.hide {
    display: none;
}