.header{
    background: lightgrey;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__logo-img{
        width: 150px;
    }
    &__logo-title{
        font-size: 20px;
    }

    &__button{
        padding: 10px 30px;
        border-radius: 10px;
        font-size: 20px;
    }
}

.create{
    display: none;
}

  .active {
    display: block;
  }
  
  .modal-label{
      padding-bottom: 6px;
  }

  .modal-input{
    padding-bottom: 16px;

  }

  .modal-input-style{
      width: 100%;
      padding: 10px;
  }

  .modal-select{
      width: 100%;
      padding: 10px;
  }